<a href="https://colab.research.google.com/github/AimanHafizi619/Python-Preprocessing-Exercise/blob/main/Prepocessing_Hepatitis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Preprocessing using pandas
I will to explain how to preprocess data using the pandas library. I will took the liberty to explain as thoroughly as I can so that every part of this process can be understand.
 
Preprocessing is the process of doing a pre-analysis of data, in order to transform them into a standard and normalized format.

In this tutorial we deal only with missing values.

## Import data
Firstly, import data using the pandas library and convert them into a dataframe. Through the `head()` method I will print only the first 5 rows of the dataset

In [1]:
import pandas as pd
dataframe = pd.read_csv('https://raw.githubusercontent.com/drshahizan/dataset/main/hepatitis.csv')
dataframe.head()

,age,sex,steroid,antivirals,fatigue,malaise,anorexia,liver_big,liver_firm,spleen_palpable,spiders,ascites,varices,bilirubin,alk_phosphate,sgot,albumin,protime,histology,class
0,30,male,False,False,False,False,False,False,False,False,False,False,False,1.0,85.0,18.0,4.0,NaN,False,live
1,50,female,False,False,True,False,False,False,False,False,False,False,False,0.9,135.0,42.0,3.5,NaN,False,live
2,78,female,True,False,True,False,False,True,False,False,False,False,False,0.7,96.0,32.0,4.0,NaN,False,live
3,31,female,NaN,True,False,False,False,True,False,False,False,False,False,0.7,46.0,52.0,4.0,80.0,False,live
4,34,female,True,False,False,False,False,True,False,False,False,False,False,1.0,NaN,200.0,4.0,NaN,False,live

# Identify the missing values

From the first look, there exist some problems. For instance, there are many fields with the value `NaN` which indicates that these values are missing.

Lets check whether or not this dataset contains any missing values. The function `isna()` will return the Boolean expresssion of either 'True' or 'False' of the presence of `NaN` value.

The calculation of any `NaN` values obtained will be done using the function `sum()` for each column.

In [2]:
dataframe.isna().sum()

age                 0
sex                 0
steroid             1
antivirals          0
fatigue             1
malaise             1
anorexia            1
liver_big          10
liver_firm         11
spleen_palpable     5
spiders             5
ascites             5
varices             5
bilirubin           6
alk_phosphate      29
sgot                4
albumin            16
protime            67
histology           0
class               0
dtype: int64